<h1>Employee List({{getCurrentWeek() | date: 'dd-MM-yyyy'}} - {{addDays(6)  | date: 'dd-MM-yyyy'}}) </h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.weeklyEffort}}</td>
        <td>{{item.weeklyEffort/7 | number : '1.2-2'}}</td>
    </tr>
</table>


<img id="spinner" *ngIf="!employees" src="../assets/spinner1.gif" class="img-responsive" width="50px" height="50px" />